* {
  box-sizing: border-box;
}
body {
  margin:0;
  background-color: #CCCCCC;
  padding-top: 10px;
  font-family: 'Slabo 27px', serif;
}

.global {
  background-color: white;

}
.container-left {
  max-width: 800px;
  border-right: 1px solid grey;
  border-bottom: 1px solid grey;
}
.container-right {
  float: right;
  display: block;
  background-color: #F2F2F1;
  height: 100%;
  width: 100%;
  padding-top: 10px;
  margin-right: 31px;
  border-left: 1px solid black;
  padding-left: 8px;
}
#right-menu {
  padding-bottom: 119px;
  padding-top: 15px;
  border-bottom: 1px solid black;
}
.space-between {
  padding-bottom: 7px;
  list-style: none;
}

.navbarSprite .nav a {
    font-size: 18px;
    margin-right: 15px;
    margin-left: 18px;
}
.navitem {
  height: 50px;
  width: auto;
  border-right: 1px solid darkslategrey;
  border-left: 1px solid darkslategrey;
}
a.navitem:hover {
  background-color: #444444;
}

#navbar {
    background: #333333;
    background: -webkit-linear-gradient(top,  #646464 0%,  #0e0e0e 100%);
    background: linear-gradient(to bottom,  #646464 0%, #0e0e0e 100%);
    border-top: 1px solid #444444;
    color: #fff;
    font: 10pt Verdana,  Arial,  sans-serif;
    height: 83px;
    margin: 15px auto auto -0px;
    padding: 0;
    position: relative;
    width: 1008px;
    z-index: 200;
}
#navbar a:hover {
    text-decoration: underline;
}
#navbar a.fallback {
    background: -webkit-linear-gradient(left,  rgba(0, 0, 0, 0.2) 0%,  rgba(0, 0, 0, 0) 2.5%);
    background: linear-gradient(to right,  rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 2.5%);
    display: inline-block;
    height: 100%;
    position: absolute;
    width: 100%
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: grey;
}


img.mylogo {
  width: 10%;
  height: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.space-right {
  padding-right: 5px;
}

.nav a {
  text-decoration: none;
  color: white;
  font-size: 22px;
  padding-right: 15px;
}  

.nav a:hover {
  color: white;
} 

.center {
  text-align: center;
}

.mypicture {
  width: 100%;
  height: auto;
}

.mypicture2 {
  float: left;
  width: 250px;
  height: auto;
  padding-right: 20px;
}
.mypicture-home {
  width: 250px;
  height: 300px;
  padding-right: 25px;
}

.mypicture-born {
  width: 180px;
  height: 180px;
  padding-right: 25px;
  padding-left: 30px;
}

.mypicture-footer {
  width: 60px;
  height: 60px;
}
.caption {
  padding-left: 35px;
}

img.mypicture:hover {
  border: 2px solid darkslategrey;
}

.footer {
  padding-top: 25px;
  text-align: right;
  font-size: 10px;
}

input.button.submit {
  background-color: green;
  color: white;
}
.spaces {
  padding-bottom: 15px;
}

